body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
}

@media(max-width: 768px) {
    .container {
        justify-content: flex-start;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .menu li {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: flex;
    }
}
